<nav class="navbar">
    <div class="max-width">
        <div class="logo">
            <a href="/">CovidStats</a>
        </div>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/countries">Countries</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>


