<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CovidStats</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/812281facd.js"></script>
    <link rel="stylesheet" href="/stylesheets/covidStats.css" />

</head>
<body>
   <%- include("../partials/navbar") %> 
   <%- body %>

   <footer class="footer">
        <span>Created By <a href="#">Ashadur Rahman</a> | <span class="far fa-copyright"></span> 2021 All rights reserved.</span>
   </footer>
<script src="/javascripts/navbarScript.js"></script>
</body>
</html>