<% layout("layouts/boilerplate") %> 

<section class="about" id="about">
<div class="max-width">
<h1 class="title">What is CovidStats?</h1>
<p class="text-content">CovidStats is a website which has been created to quickly and easily view the latest Coronavirus statistics.
The website contains a quick view on the homepage of the latest worldwide Total confirmed cases, deaths and recoveries.
The information provided on this website is provided by the <a href="https://covid19api.com/" target="_blank">covid19API</a> built by <a href="https://twitter.com/ksredelinghuys" target="_blank">Kyle Redelinghuys</a>.
</p>
<h2 class="title">Who is this website built by?</h2>
<p class= "text-content">
This website is built by <a href="#" target="_blank">Ashadur Rahman</a> you can view more of his work or contact him by clicking <a href="#" target="_blank">here</a>.
</p>
</div>
</section>